.section {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #CCC;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

#time-container {
    display: flex;
}

#time {
    font-size: 15vw;
}

#id_minute, #id_hour {
    height: 1.5em;
    padding: 0em 0.2em;
}

.selector {
    text-decoration: none;
}

.selector:active {
    background-color: #EEE;
}

.selected {
    color: #000;
    font-weight: bold;
}

.unselected {
    color: #CCC;
    font-weight: normal;
}

.ampm {
    padding: 0.5em;
}

.ampm-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: column;
    padding-left: 0.6em;
    font-size: 5vw;
}

#hidden-ampm {
    visibility: hidden;
    margin-left: auto;
}

#ampm {
    margin-right: auto;
}

#days-container {
    display: flex;
}

.day-container {
    width: 14.2%;
    text-align: center;
    font-size: 3.5vw;
}

.day {
    padding: 0.7em;
}

.subsection {
    padding-bottom: 1vw;
}

.low-padding {
    padding-top: 1vw;
    padding-left: 1vw;
}

.adjuster-label {
    font-weight: normal;
    font-size: 3vw;
    color: #666;
}

.adjuster {
    font-size: 3vw;
    padding-left: 4vw;
    padding-right: 4vw;
}

.slider-container {
    display: flex;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 1.5vw;
    border-radius: 0.75vw;   
    background: #EEE;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    flex-grow: 1;
    margin-top: 0.3em;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 6vw;
    height: 6vw;
    border-radius: 50%; 
    background: #0078E7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    background: #0078E7;
    cursor: pointer;
}

.slider-value-container {
    text-align: right;
    width: 5em;
    display: flex;
    flex-direction: row-reverse;
}

.slider-unit {
    text-align: left;
    color: #888;
    flex-basis: 2em;
}

.slider-value {
    text-align: right;
    flex-grow: 1;
}

#sunrise_color_value {
    width: 6vw;
    height: 6vw;
    -webkit-border-radius: 3vw;
    -moz-border-radius: 3vw;
    border-radius: 3vw;
    background: #FFCDA4;
    margin-top: -0.5em;
}

.button {
    font-size: 4vw;
}

#buttons {
    text-align: center;
    border-bottom-width: 0;
}

#delete {
    background-color: #E77800;
    margin-left: 3em;
}
